*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
section{
    
    


}
.container {
    background-image: url('img/manzara.jpg');
    background-size: cover;         /* Rasm to‘liq blokni qoplaydi */
    background-position: center;    /* Rasm markazga joylashadi */
    background-repeat: no-repeat;   /* Rasm takrorlanmaydi */
    background-attachment: scroll;  /* Yoki 'fixed' qilsangiz rasm orqada qoladi*/ 
    width: 100%;      /* Ekranga moslashadi */
    max-width: 1200px;
    height: 1000px;     /* Yaxshi ko‘rinishi uchun */
    margin: 0 auto;
    padding: 20px;
}


.general{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
}
.img{
    width: 230px;
    height: 180px;
    padding: 10px ;
    margin: 5px;
   
}
.chiziq{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}
.text,.parag{
    text-align: center;
}
.ot{
    width: 130px;
    padding: 10px;
    margin: 15px;
}
.ot2{
    width: 150px;
    padding: 10px;
    margin: 15px;
    position: relative;
    left: 350px;
}
.btn{
    background-color: tomato;
    color: azure;
    padding: 10px;
    margin: 200px;
    border: 1px solid black;
    text-align: center;
    cursor: grab;
}
