*{
    margin: 0 auto;
    padding: 0;
}
.container{
    width: 1200px;
    border-radius: 2px solid black;
    

}
.general{
    

}
h2,p{
    margin: 0;
    padding: 5px;

}
.rasm{
    width: 500px;
    border-radius: 50px;
   
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.kema{
    width: 200px;
    border-radius: 40px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 70px;
    position: relative;
    left: 300px;
    top: -100px;
}